<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odin Recipes - Chicken Rice</title>
  </head>
  <body>
    <main>
      <h1>Chicken Rice</h1>
      <img src="/public/chicken-rice2.JPG" alt="chicken rice" />
      <h2>Description</h2>
      <p class="description">
        Chicken rice, considered one of Singapore's national dishes, excels
        because of its simplicity; poached chicken on white rice, served with
        soy sauce and chilli garlic dip. The recipe and techniques to make
        chicken rice came to Singapore through a mix of Hainanese and Cantonese
        cultures.
      </p>
      <section class="ingredients">
        <h2>Ingredients</h2>
        <h3>Chicken</h3>
        <ul>
          <li>1.5kg whole chicken</li>
          <li><sup>1</sup>/<sub>4</sub>cup kosher salt</li>
          <li>6mm pieces fresh ginger</li>
          <li>1 bunch scallion</li>
          <li>3.7 litres water (more as needed)</li>
          <li>2 tablespoon sesame oil</li>
        </ul>
        <h3>Rice</h3>
        <ul>
          <li><sup>1</sup>/<sub>4</sub>cup sesame oil</li>
          <li>2 tablespoon chicken fat, chopped</li>
          <li>1 tablespoon fresh ginger</li>
          <li>1 tablespoon kosher salt</li>
          <li>2 cups long grain rice (rinsed and drained)</li>
          <li>2 cups reserved chicken poaching broth</li>
        </ul>
        <h3>Ginger Garlic Sauce</h3>
        <ul>
          <li>Lorem ipsum, dolor sit ex de.</li>
          <li>Lorem ipsum dolor sit amet consecquam, soluta?</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>met consectetur adipisicing elit. Eum.</li>
          <li>Lorem itetur adipisicing.</li>
        </ul>
        <h3>Soy Dipping Sauce</h3>
        <ul>
          <li>Lorem ipsum, dolor sit ex de.</li>
          <li>Lorem ipsum dolor sit amet consecquam, soluta?</li>
          <li>Lorem ipsum dolor sit.</li>
          <li>met consectetur adipisicing elit. Eum.</li>
          <li>Lorem itetur adipisicing.</li>
        </ul>
      </section>
      <section class="instructions">
        <h2>Instructions</h2>
        <ol>
          <li>
            Rub kosher salt and get rid of loose skin. Rinse chicken well and
            pat dry with paper towels.
          </li>
          <li>
            Generously season chicken with salt. Stuff its cavity with ginger
            slices and scallions.
          </li>
          <li>
            Place chicken in large stock pot, cover with water and season with
            salt to taste.
          </li>
          <li>
            Bring water to a boil, then reduce heat to low to maintain a simmer.
            Cover and cook for 30 minutes, or until internal temperature reaches
            75<sup>o</sup>C. Remove pot from heat.
          </li>
          <li>
            Remove chicken and transfer to ice bath for 5 minutes. Reserve
            poaching liquid for later, discarding ginger and green scallion.
          </li>
          <li>Pat chicken dry and rub sesame oil.</li>
          <li>
            Heat <sup>1</sup>/<sub>4</sub> of sesame oil over medium heat. Add 2
            tablespoon of chicken fat, garlic, ginger and salt. Fry until
            aromatic.
          </li>
          <li>
            Reserve <sup>1</sup>/<sub>4</sub> of fried garlic, add rice and
            stiry its mixed.
          </li>
          <li>Add the rice to rice cooker and steam until ready.</li>
          <li>Carve chicken for serving.</li>
          <li>
            Serve sliced chicken with rice, dipping sauces, sliced cucumbers and
            garnish with fresh coriander.
          </li>
          <li>Enjoy!</li>
        </ol>
      </section>
    </main>
    <a href="/index.html">Back</a>
  </body>
</html>
