<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odin Recipes - Momo</title>
  </head>
  <body>
    <main>
      <h1>Momo</h1>
      <img src="/public/momo2.jpg" alt="momo" />
      <h2>Description</h2>
      <p>
        Momo is a type of steamed filled dumpling, with origins from Tibet. Momo
        is native to Tibet, Nepal as well as Indian Himalayan Region of Ladakh,
        Sikkim, Assam, and Arunachal Pradesh and Darjeeling. It is popular
        accros a wider region of the Indian subcontinent. Momos dumpling are
        most commonly filled with chicken, pork and goat. It has become a staple
        delicacy in Nepal and Tibetan commnuities in Bhutan, as well people of
        the Indian regions of Darjeeling.
      </p>
      <section class="ingredients">
        <h2>Ingredients</h2>
        <h3>Momo Fillings</h3>
        <ul>
          <li>1kg ground pork</li>
          <li>200g Cabbage finely chopped</li>
          <li>2 bunches Scallions finely chopped, white part only</li>
          <li>1 thumbsized ginger - minced</li>
          <li>2 <sup>1</sup>/<sub>2</sub>tablespoon salt</li>
          <li><sup>1</sup>/<sub>2</sub> teaspoon tumeric powder</li>
        </ul>
        <h3>Dough</h3>
        <ul>
          <li>6 cups flour (white, all purpose or whole wheat</li>
          <li>3 <sup>1</sup>/<sub>2</sub>warm water</li>
        </ul>
        <h3>Sauce</h3>
        <ul>
          <li>500g tomatoes</li>
          <li>1 tablespoon plum powder - lapsiko dhulo</li>
          <li>1 medium sized red onion - sliced</li>
          <li>1 bunch coriander - rougly chopped</li>
          <li>1 tablespoon fennel seeds, toasted and ground</li>
          <li>2 tablespoon black pepper powder</li>
          <li>1 tablespoon chilli powder</li>
          <li>3 tablespoon sesame oil</li>
          <li>1 tablespoon vegetable oil</li>
          <li>1 <sup>1</sup>/<sub>2</sub>teaspoon salt</li>
          <li>1<sup>1</sup>/<sub>2</sub> tablespoon water</li>
        </ul>
      </section>
      <section class="instructions">
        <h2>Instructions</h2>
        <ol>
          <li>
            Prepare filling ingredients, dumpling dough, and tomato sauce by
            following the recipe shown below.
          </li>
          <li>Divide the dumpling dough into roughly 12 individual balls.</li>
          <li>
            Roll them out into 1-inch thick logs, cut each log into 6-8 pieces.
            Press each piece into thick coins by the palm of your hand.
          </li>
          <li>
            Roll each coin into round shapes of 3-inch diameter and
            <sup>1</sup>/<sub>4</sub>cm thick.
          </li>
          <li>
            Meanwhile, fill the dumpling pot with 2-3 inches of water. Start
            boiling them.
          </li>
          <li>
            Fill each rolled dough with <sup>1</sup>/<sub>2</sub>tablespoon of
            filling. Moisten the edges with water, shape them how you desire,
            seal the edges, and place them on a greased steamer basket or
            floured surface until ready to cook.
          </li>
          <li>Steam dumplings for 20 minutes in high heat.</li>
          <li>Serve momos with hog plum and tomato sauce.</li>
        </ol>
      </section>
    </main>
  </body>
</html>
