<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odin Projects - Ramen</title>
  </head>
  <body>
    <main>
      <h1>Tonkotsu Ramen</h1>
      <img src="/public/ramen2.jpg" alt="tonkotsu ramen" />
      <h2>Description</h2>
      <p>
        Tonkotsu ramen is a hearty pork-based soup that has become one of the
        most popular varieties of Japanese ramen. Tonkatsu ramen originated in
        Hakata, in Fukuoka prefecture. About 80 years have passed since a street
        stall on Meiji Street in Kurume became the first place in Kyushu to sell
        ramen, then known as "Chinese Soba", in 1937. Today, the Tonkotsu Ramen
        that was born in Kurume has become the de facto standard for ramen
        around the world. The broth is traditionally served with thin, straight
        noodles, and a variety of toppings.
      </p>
      <section class="ingredients">
        <h2>Ingredients</h2>
        <h3></h3>
        <ul>
          <li>
            1.5kg pig trotters, split lengthwise - or get your butcher to do
            this for you
          </li>
          <li>1kg chicken backs and carcasses, skin and excess fat removed</li>
          <li>2 tablespoons vegetable oil</li>
          <li>1 large onion, skin on, roughly chopped</li>
          <li>12 garlic cloves</li>
          <li>1 3-inch knob ginger, rougly chopped</li>
          <li>2 whole leeks, roughlu chopped</li>
          <li>
            2 dozen scallions, white parts only (reserve greens for garnish)
          </li>
          <li>60g whole mushrooms or cremini</li>
          <li>450g slab pork fat back</li>
        </ul>
      </section>
      <section class="instructions">
        <h2>Instructions</h2>
        <ol>
          <li>
            Place pork and chicken bones in a large stockpot and cover with cold
            water. Place on a burner over high heat and bring to a boil. Remove
            from heat as soon as boil is reached.
          </li>
          <li>
            Heat vegetable oil over heat on medium, add onions, garlic and
            ginger. After 15 minutes, set aside.
          </li>
          <li>Dump water once pot comes to a boil. Wash bones thorougly.</li>
          <li>
            Return bones to pot along with the charred vegetables, leeks,
            scallions, mushrooms and pork fat. Top it up with water and bring to
            rolling boil. Skim off any scums that comes to water surface. Cover
            pot, reduce heat to a bare simmer.
          </li>
          <li>
            After 4 hours, remove pork fat and transfer fatback to refrigerate.
            Continue cooking broth for another 6 to 8 hours until opaque with
            texture of light cream.
          </li>
          <li>
            Finely chop cooked pork fatback and whisk into finished broth. To
            serve, season broth with condiments of your choice (salt, soy sauce,
            miso, sesame paste, grated fresh garlic, chili oil) and serve with
            cooked ramen noodles.
          </li>
        </ol>
      </section>
    </main>
    <a href="/index.html"></a>
  </body>
</html>
