body {
  overflow-x: hidden;
  box-sizing: border-box;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 106, 1) 52%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  font-family: "Inconsolata", sans-serif;
}

h1 {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", sans-serif;
  font-size: 4rem;
}

.hero {
  text-align: center;
  font-size: 1.5rem;
}
.container {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.show-dish {
  position: relative;
}

.show-dish a img {
  object-fit: cover;
  width: 600px;
  height: 500px;
  margin: 10px;
}

.show-dish a img:hover {
  opacity: 0.9;
}

.show-dish h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  opacity: 0;
}

.show-dish h3:hover {
  opacity: 1;
}

a {
  color: yellow;
  text-decoration: none;
  padding: 10px;
  font-size: 1.1rem;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 1.1rem;
}

footer h3 {
  text-align: center;
  margin: 10px auto;
}
